@font-face {
    font-family: 'Hammersmith One';
    src: url('HammersmithOne-Regular.eot');
    src: url('HammersmithOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('HammersmithOne-Regular.woff2') format('woff2'),
        url('HammersmithOne-Regular.woff') format('woff'),
        url('HammersmithOne-Regular.ttf') format('truetype'),
        url('HammersmithOne-Regular.svg#HammersmithOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

