@font-face {
    font-family: "Roboto-Thin";
    src: url("../src/Roboto/Roboto-Thin.ttf") format("truetype"),
        url("../src/Roboto/Roboto-Thin.woff") format("woff"),
        url("../src/Roboto/Roboto-Thin.woff2") format("woff2"),
        url("../src/Roboto/Roboto-Thin.eot") format("eot"),
        url("../src/Roboto/Roboto-Thin.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../src/Roboto/Roboto-Regular.ttf") format("truetype"),
        url("../src/Roboto/Roboto-Regular.woff") format("woff"),
        url("../src/Roboto/Roboto-Regular.woff2") format("woff2"),
        url("../src/Roboto/Roboto-Regular.eot") format("eot"),
        url("../src/Roboto/Roboto-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../src/Playfair_Display/PlayfairDisplay-Regular.ttf") format("truetype"),
        url("../src/Playfair_Display/PlayfairDisplay-Regular.woff") format("woff"),
        url("../src/Playfair_Display/PlayfairDisplay-Regularwoff2") format("woff2"),
        url("../src/Playfair_Display/PlayfairDisplay-Regular.eot") format("eot"),
        url("../src/Playfair_Display/PlayfairDisplay-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

:root {
    --logo_color: rgb(0, 224, 208);
    --font-color-light: aliceblue;
    --font-color-dark: rgb(12, 12, 38);
}

* {
    font-family: "Roboto-Regular";
    margin: 0;
}

h1 {
    font-family: 'Playfair Display', Times, serif;
    font-size: 2.5vw;
}

h2 {
    font-family: 'Playfair Display', Times, serif;
    font-size: 2vw;
}

h3 {
    font-family: "Roboto-Regular";
}

p {
    font-family: "Roboto-Thin";
    font-size: 0.8vw;
    line-height: 160%;
}

.subtitle-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2vw;
    padding: 3%;
    width: 100%;
}

nav ul li {
    list-style: none;
    text-decoration: none;
}

/*logo*/
.tajam-logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 10vw;
}

.tajam-logo-img {
    height: auto;
    position: relative;
    top: 10%;
    width: 5vh;
}

.tajam-logo-name {
    font-family: "Roboto-Thin";
    color: var(--logo_color);
    font-size: 2.5vw;
}

/*header*/
/* to position the logo in header */
header .tajam-logo {
    margin-top: 1%;
}

/* company name behind logo */
header .tajam-logo-name {
    margin-top: 0%;
    margin-left: 0;
    grid-column-start: 4;
    width: 5vw;
}

header {
    background-image: url(./design-assets/bgk-header.png);
    height: 40vw;
    width: 100%;
    min-height: fit-content;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70;
}

header nav {
    display: flex;
    justify-content: space-between;
    height: 15%;
    width: 70%;
}

header nav ul {
    margin-top: 1vh;
    display: flex;
    width: 60%;
}

header nav ul li {
    padding-top: 1em;
    padding-right: 1em;

}

#home a {
    color: var(--logo_color);
}

nav ul li a {
    color: var(--font-color-light);
    font-size: 1.5vh;
    text-decoration: none;
}

/* hero section in header */
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

/* #hero {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 50% 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 100%;
} */


/* We Are Awesome Creative Agency */
/* #flex_line {
    grid-column: 2;
    grid-row-start: 2;
} */

#hero h1 {
    color: var(--font-color-light);
    height: fit-content;
    min-width: 15em;
    height: 3em;
    margin-top: 2.5em;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

/* text in hero */
#hero p {
    width: 60%;
    line-height: 180%;
    color: var(--font-color-light);
    text-align: center;
}

header #line {
    border: solid;
    border-width: 1px;
    border-color: var(--logo_color);
    ;
    border-top: none;
    border-left: none;
    border-right: none;
    justify-content: center;
    margin-bottom: 1em;
    width: 1.5em;
    height: 1px;
}



/* this ID is used to place learn more bottom */
#flex-display {
    grid-column-start: 2;
    grid-row-start: 4;
    display: flex;
    justify-content: center;
}

#learnmore {
    border-color: var(--logo_color);
    color: var(--logo_color);
    background: none;
    width: 15%;
    height: 15%;
    font-size: 1.2vw;
    text-align: center;
    margin-top: 5%;
    border: solid;
    border-width: 1px;
    border-radius: 4%;
    font-family: "Roboto-Regular";
}

#our-story {
    height: 60vw;
}

#story-readable {
    height: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#story-text {
    max-width: 55%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#story-text h2 {
    padding: 1em 0.25em;
}

#story-text p {
    font-family: sans-serif;
    font-size: 0.7vw;
    padding: 1em;
    padding-right: 40%;
    line-height: 160%;
}

#story-text button {
    margin: 1em;
    padding: 1em;
    background-color: var(--font-color-light);
    /*TODO farbe optimieren*/
    border: 0.2em solid rgb(0, 255, 220);
    border-radius: 3px;
    color: rgb(0, 255, 220);
}

#big-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

#big-logo img {
    margin: 5%;
    width: auto;
    height: 60%;
}

#story-watch {
    background: no-repeat url("./design-assets/bgk-middle.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 58%;
}

#story-watch div {
    width: 12%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#story-watch h3 {
    color: var(--font-color-light);
}

#story-watch div img {
    padding: 1em;
    height: auto;
    width: 50%;
}

#expertise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expertise {
    background-color: var(--font-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expertise h2 {
    color: var(--font-color-dark);
    padding-top: 10%;
}

.expertise p {
    color: var(--font-color-dark);
}

.expertise #line {
    background-color: var(--font-color-light);
    border-color: var(--font-color-light);
    width: 5vw;
    height: 2px;
    margin-left: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 65%;
    grid-gap: 1px;
    background-color: white;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    background-color: white;
}

.expertise-icon {
    height: 20%;
}

.expertise-link {
    text-decoration: none;
    font-family: sans-serif;
    color: var(--font-color-dark);
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
    text-transform: uppercase;
    padding: 10%;
}

.expertise-text {
    font-size: 0.7vw;
    text-align: center;
    text-transform: uppercase;
    padding: 2%;
    line-height: 160%;

}


/* Our team */
#ourteam {
    background-image: url(./design-assets/bgk-header.png);
    height: 45vw;
    width: 100%;
    min-height: fit-content;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    display: grid;
    grid-template-columns: 22% 15% 15% 15% 15% 18%;
    grid-template-rows: 10% 15% 30% 20% 25%;
}

/* 1st container  in our team*/
#ourteam_text {
    color: var(--font-color-light);
    grid-column: 3/span 2;
    grid-row-start: 2;
    text-align: center;
    height: 50%;
    width: 96%;
}

/* meet our amazing team */

#teammember1 {
    grid-column: 2;
    grid-row: 3;
    width: 92%;
    height: 13vw;
}

#teammember2 {
    grid-column: 3;
    grid-row: 3;
    width: 92%;
    height: 13vw;
}

#teammember3 {
    grid-column: 4;
    grid-row: 3;
    width: 92%;
    height: 13vw;
}

#teammember4 {
    grid-column: 5;
    grid-row: 3;
    width: 92%;
    height: 13vw;
}

.profile {
    background-color: var(--font-color-light);
    border: solid var(--font-color-light);
    height: 100%;
    width: 100%;
    margin: 0;
}

.info {
    font-family: sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    color: var(--font-color-light);
    border: solid var(--font-color-light);
    margin: 0;
    width: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
    text-align: center;
    font-size: 70%;
}

.hiring {
    grid-column: 3/span2;
    grid-row: 5;
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Become part of our dream team lets join us */
.hiring p {
    font-size: 2vh;
    font-family: sans-serif;
    color: var(--font-color-light);
    text-align: center;
}

#hiring {
    border: solid var(--logo_color);
    color: var(--logo_color);
    border-radius: 3%;
    padding: 2%;
    font-size: 2.5vh;
    margin-top: 6%;
}

#contact-form {
    display: flex;
    height: 43vw;
}

#contact-container {
    width: 50%;
    height: auto;
}

#contact-container h2 {
    padding-left: 40%;
    padding-top: 16%;
    padding-bottom: 2.5%;
}

#contact-formular {
    padding-left: 40%;
    display: flex;
    flex-direction: column;
}

.contact-input {
    /* TODO font-family einbinden Roboto-Light*/
    padding: 1em;
    margin-bottom: 1.75em;
}

#submit-button {
    /* TODO font-family einbinden Hammersmith One Regular */
    font-family: 'Hammersmith One', sans-serif;
    align-self: flex-start;
    padding: 1em 2em;
    color: var(--logo_color);
    border: 1px solid var(--logo_color);
    border-radius: 2px;
    background-color: var(--font-color-light);
}

#client-container {
    width: 50%;
    height: auto;
}

#client-container h2 {
    padding-left: 10%;
    padding-top: 16%;
    padding-bottom: 2.5%;
}

#client-grid-container {
    height: auto;
    padding-left: 10%;
    padding-right: 40%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    column-gap: 20%;
    row-gap: 0;
}

.client-grid-item {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.client-grid-item img {
    height: 100%;
    width: 100%;
}

/*footer*/
footer {
    background-image: url(../src/design-assets/bgk-footer.png);
    background-repeat: no-repeat;
    color: var(--font-color-light);
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer_tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    height: 30vh;
    grid-gap: 1px;
    padding-top: 5%;
    gap: 2%;
}

.footer-tiles-item {
    max-width: 95%;
    padding: 0%;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    line-height: 160%;
}

footer .tajam-logo{
margin-bottom: 5%;
position: relative;
top: -8%;
}

.footer-tiles-item h3 {
    padding-bottom: 15%;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    font-size: 1.5vw;
}


.footer-text {
    font-size: 1vw;
}

#footer_tiles_center .footer-text {
    text-indent: -7%;
}

.footer-tiles-item input {
    width: 15vw;
    height: 5vh;
    background: none;
    border-radius: 0;
    border: solid 1px var(--font-color-light);
    color: var(--font-color-light);
    font-size: 1.1vw;
    text-align: center;
}

.footer-tiles-item button {
    width: 9vh;
    height: 5.5vh;
    border-radius: 0;
    border: none;
    opacity: 0.5;
    position: relative;
    top: 9%;
    left: 2%;
}

.footer_logos {
    padding: 7% 2%;
    width: 100%;
}

.footer_logos img {
    padding: 1%;
    height: 2vw;
}

#footer_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding-bottom: 3%;
}

footer nav {
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

footer nav a {
    /* font-family: "Roboto-Thin"; */
    padding: 5%;
    text-transform: uppercase;
    color: var(--font-color-light);
    text-decoration: none;
    font-size: 1.2vw;
}