@font-face {
    font-family: "Roboto-Thin";
    src: url("../src/Roboto/Roboto-Thin.ttf") format("truetype"),
        url("../src/Roboto/Roboto-Thin.woff") format("woff"),
        url("../src/Roboto/Roboto-Thin.woff2") format("woff2"),
        url("../src/Roboto/Roboto-Thin.eot") format("eot"),
        url("../src/Roboto/Roboto-Thin.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

:root{
    --logo_color:  rgb(0, 224, 208);
}

* {
    font-family: "Roboto-Thin";
    margin: 0;
}

nav li a  {
    list-style: none;
}

h1 {font-family: 'Times New Roman', Times, serif;}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2vw;
}

.subtitle-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2vw;
    padding: 3%;
    width: 100%;
}

.tajam-logo-name{
    color:  var(--logo_color);
    font-size: 2.7vw;

}

/* header here */
header {
    background-image: url(./design-assets/bgk-header.png);
    height: 40vw;
    width: 100%;
    min-height: fit-content;

    border-color: brown;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;

}

nav {
    display: flex;
    justify-content: flex-end;


}

/* to position the logo in header */
#slogo {

    width: 50%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

#slogo img {
    justify-content: center;
    grid-column-start: 3;
}

/* logo position ends here */

nav ul {
    display: flex;

    justify-content: flex-end;
    width: 50%;
}

nav ul li {
    list-style: none;
    display: flex;
    padding-top: 1em;
    padding-right: 3em;


}

nav ul li a {
    color: aliceblue;
    font-weight: bold;
    font-size: 0.7em;

}

/* hero section in header */
#hero {
    display: grid;

    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 30em;

}

/* We Are Awesome Creative Agency */
#hero h2 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    grid-column: 3/span 2;
    grid-row-start: 2;
    margin-right: 10em;
    height: fit-content;
    min-width: 15em;
    margin-top: 1.5em;


}

/* short blue line */
#line {
    border: solid;
    border-width: 1px;
    border-color: rgb(0, 200, 200);
    grid-column-start: 3;
    grid-row-start: 2;
    margin-bottom: 1em;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 2.5em;
    margin-left: 10em;

}

/* text in hero */
#hero p {
    color: white;
    grid-column: 2 /span 3;
    grid-row-start: 3;
    margin-left: 5em;
    text-align: center;
    min-width: 30em;

}

#learnmore {
    border: solid;
    grid-column-start: 3;
    grid-row-start: 4;
    width: 8em;
    height: 2em;
    font-size: 0.5em;
    margin-left: 16em;
    text-align: center;
    padding-top: 5px;
    border-color: rgb(0, 189, 189);
    border-width: 1px;
    color: rgb(0, 170, 170);
}

#our-story {
    height: 60vw;
}

#story-readable {
    height: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#story-text {
    max-width: 55%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#story-text h2 {
    padding: 1em;
}

#story-text p {
    font-family: sans-serif;
    font-size: 0.7vw;
    padding: 1em;
    padding-right: 40%;
    line-height: 160%;
}

#story-text button {
    margin: 1em;
    padding: 1em;
    background-color: white;
    /*TODO farbe optimieren*/
    border: 0.2em solid rgb(0, 255, 220);
    border-radius: 3px;
    color: rgb(0, 255, 220);
}

#big-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

#big-logo img {
    margin: 5%;
    width: auto;
    height: 60%;
}

#story-watch {
    background: no-repeat url("./design-assets/bgk-middle.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 58%;

}

#story-watch div {
    width: 12%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#story-watch div p {
    font-size: 1.5em;
    color: white;
    padding: 1em;
}

#story-watch div img {
    padding: 1em;
    height: auto;
    width: 50%;
}

#expertise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expertise {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expertise h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2vw;
    color: black;
    padding-top: 10%;
}

.expertise p {
    color: black;
}

.expertise #line {
    background-color: rgb(232, 232, 232);
    border-color: rgb(232, 232, 232);
    width: 5vw;
    height: 2px;
    margin-left: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 65%;
    grid-gap: 1px;
    background-color: rgb(232, 232, 232);
    margin-top: 5vh;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    background-color: white;

}

.expertise-icon {
    height: 20%;
}

.expertise-link {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
    text-transform: uppercase;
    padding: 10%;
}

.expertise-text {
    font-size: 0.7vw;
    text-align: center;
    text-transform: uppercase;
    padding: 2%;
    line-height: 160%;

}
























































































































footer{
    background-image: url(../src/design-assets/bgk-footer.png);
    background-repeat: no-repeat;
    color: white;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    font-family: Roboto-Thin;
}
#footer_container{
width: 100%;
display: flex;
justify-content: center;
}

.footer_tiles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    height: 30vh;
    grid-gap: 1px;
    padding-top: 5%;
    gap: 2%;
}

.footer-tiles-item{
    max-width: 95%;
    padding: 0%; 
    font-family: sans-serif; 
    display: flex;
    flex-direction: column;
    line-height: 160%;
}

#footer-tajam-logo{
height: auto;
width: 20%;
}

footer .tajam-logo-name{
    position: relative;
    left: 30%;
    top: -60%;
}

.footer-tiles-item h3{
    padding-bottom: 15%;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    font-size: 1.5vw;
}

 
.footer-text{
    font-size: 1vw;
}

#footer_tiles_center .footer-text{
    text-indent: -7%;
}
.footer-tiles-item input{
    width: 15vw;
    height: 5vh;
    background: none;
    border-radius: 0;
    border: solid 1px white;
    color: white;
    font-size: 1.1vw;
    text-align: center;
}


.footer-tiles-item button{
    width: 9vh;
    height: 5.5vh;
    border-radius: 0;
    border:none;
    opacity: 0.5;
    position: relative;
    top: 9%;
    left: 2%;
}

.footer_logos {
    padding: 7% 2%;
    width: 100%;
}
.footer_logos img{
    padding: 1%;
    height: 2vw;
}

#footer_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding-bottom: 3%;
}

footer nav {
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

footer nav a {
    font-weight: lighter;
    padding: 5%;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
}

